@import './base.css';
@import './d-flex.css';

html, body, #app {
  height: 100%;
}

/* #app {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
} */

.main-wrapper {
  
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
  height: 100%;
  
}

main {
  flex: 1 0 auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

[v-cloak] {
  display: none !important;
}

button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

input {
    /* background: transparent;
    border: none;
    overflow: hidden;
    outline: none; */
}

.btn {
  border: solid 1px black;
  padding: 4px;
  border-radius: 4px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
 
}
